<form name="form" class="col-md-4 col-md-offset-4 form-article" data-ng-submit="article.save()" novalidate>
    <h3  class="text-left"><span class="fa fa-pencil"></span> {{article.title}} Article</h3>
    <div class="form-group">
        <input type="text" tabindex="1" name="title" placeholder="Title" class="form-control" required="required" data-ng-minlength="10" data-ng-maxlength="255" data-ng-model="article.data.title" data-user-feedback />
    </div>
    <div class="form-group">
        <textarea tabindex="2" rows="3" name="content" placeholder="Write the content" class="form-control" data-ng-model="article.data.content" data-user-feedback></textarea>
    </div>
    <div class="form-group form-no-required clearfix">
        <div class="pull-right">
            <button tabindex="3" type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
    <div show-errors errors="article.errors"></div>
</form> 