@charset "UTF-8";

@import
  // Ionicons
  "../../bower_components/ionic/scss/ionicons/ionicons",

  // Variables
  "../../bower_components/ionic/scss/mixins",
  "../../bower_components/ionic/scss/variables",

  // Base
  "../../bower_components/ionic/scss/reset",
  "../../bower_components/ionic/scss/scaffolding",
  "../../bower_components/ionic/scss/type",

  // Components
  "../../bower_components/ionic/scss/action-sheet",
  "../../bower_components/ionic/scss/bar",
  "../../bower_components/ionic/scss/tabs",
  "../../bower_components/ionic/scss/menu",
  "../../bower_components/ionic/scss//modal",
  "../../bower_components/ionic/scss/popup",
  "../../bower_components/ionic/scss/items",
  "../../bower_components/ionic/scss/list",
  "../../bower_components/ionic/scss/badge",
  "../../bower_components/ionic/scss/slide-box",
  "../../bower_components/ionic/scss/split-pane",

  // Forms
  "../../bower_components/ionic/scss/form",
  "../../bower_components/ionic/scss/checkbox",
  "../../bower_components/ionic/scss/toggle",
  "../../bower_components/ionic/scss/radio",
  "../../bower_components/ionic/scss/range",

  // Buttons
  "../../bower_components/ionic/scss/button",
  "../../bower_components/ionic/scss/button-bar",

  // Util
  "../../bower_components/ionic/scss/animations",
  "../../bower_components/ionic/scss/grid",
  "../../bower_components/ionic/scss/util",
  "../../bower_components/ionic/scss/platform",
  
  // Theme
  "theme";
