<section class="row">
    <h3 class="col-md-12"><span class="fa fa-sign-in"></span> Login</h3>
    <div class="col-md-offset-5 col-md-2">
        <form name="form" data-ng-submit="user.signup()" class="signin form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" data-ng-model="user.data.email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" data-ng-model="user.data.password" placeholder="Password">
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-primary">Sign up</button>&nbsp; or&nbsp;
                    <a href="/#!/signin">Sign in</a>
                </div>
                
                <div data-ng-if="user.errors">
                    <p  class="alert alert-danger" data-ng-repeat="error in user.errors" data-ng-bind="error.msg"></p>
                </div>
            </fieldset>
        </form>
    </div>
</section>