body {
  color: #222;
}
.logo{
  @extend .fa; 
  @extend .fa-bolt; 
  color: #FF5722;
}
.welcome {
  @extend .jumbotron; 
  h1,h2,h3{
  	color:$secondaryTextColor;
  }
}
[ng-cloak] {display: none;}
[ng-cloak].overlay {
  display: block !important;
  text-align: center;
  bottom: 0;
  background-color: $primaryTextColor;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index:9999;
  opacity: 0.8;
  filter: alpha(opacity=80);
  div{
    display:none;
  }
  &:before {
    @extend .fa; 
    @extend .fa-circle-o-notch; 
    @extend .fa-spin; 
    color:$lightPrimaryColor;
    font-size: 4em;
    position: absolute;
    top: 50%;
  }
}

.page-error-status{
  @extend .text-danger;
}
.page-error-msg{
  @extend .text-warning;
}


.modal-backdrop {
  position:absolute !important;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000 !important;
  opacity: 0.5 !important;
}
.modal-center{
    position: fixed;
    top: 30%;
    left: 18.5%;
    z-index: 1050;
    width: 80%;
    height: 80%;
    margin-left: -10%;
}