//
// Bootstrap-sass-official
// ----------------------------------------------------------------------------------------------------

//  http://www.materialpalette.com/light-green/deep-orange
$darkPrimaryColor:   #689F38 !default;
$primaryColor:       #8BC34A !default;
$lightPrimaryColor:  #DCEDC8 !default;
$textPrimaryColor:   #212121 !default;
$accentColor:        #FF5722 !default;
$primaryTextColor:   #212121 !default;
$secondaryTextColor: #727272 !default;
$dividerColor:       #B6B6B6 !default;

$jumbotron-bg: $primaryColor !default;
$modal-backdrop-bg: red !default;
$modal-backdrop-opacity : 0.5 !default;
$icon-font-path: "../fonts/" !default;
$fa-font-path:   "../fonts" !default;
